<div ng-show="isLoggedIn" style="">
	<div class="mdl-grid" style="padding:0px 0px;" ng-init="listCourses()">
		<div class="mdl-cell mdl-cell--6-col" style="padding:8px; background: white;">
			<h2 class="mdl-card__title-text" style="margin:5px;">Courses you are teaching</h2>
			<div ng-repeat="course in coursesAsTeacher" class="mdl-card mdl-shadow--2dp" style="width:100%; min-height:auto; margin-bottom: 8px;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{course.name}}</h2>
				</div>
				<div class="mdl-card__supporting-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 18px;">{{course.description}}</div>
				<div class="mdl-card__actions mdl-card--border" style="text-align:right;">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#!/course/{{course.id}}">	
						View 
					</a>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--6-col" style="padding:8px; background: white;">
			<h1 class="mdl-card__title-text" style="margin:5px;">Courses you are studying</h1>
			<div ng-repeat="course in coursesAsStudent" class="mdl-card mdl-shadow--2dp" style="width:100%; min-height:auto; margin-bottom: 8px;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{course.name}}</h2>
				</div>
				<div class="mdl-card__supporting-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 18px;">{{course.description}}</div>
				<div class="mdl-card__actions mdl-card--border" style="text-align:right;">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#!/course/{{course.id}}">	
						View 
					</a>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-include="'login.html'"></div>